.contents
  %h2 新規登録
  %hr{width:"90%"}/
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      .field__circle-image
        = f.label :アイコン
        %br/
        - if @user.image.present?
          = image_tag @user.image, id: 'img_prev'
        - else
          = image_tag "sample.jpg", id:'img_prev'
        = f.file_field :image, class: 'field__dropzone', id: "user_img"
        %br
      = f.label :ニックネーム
      %em (最大20文字)
      %br/
      = f.text_field :nickname, autofocus: true, maxlength: "20", class: 'input__title'
    .field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input__title'
    .field
      = f.label :パスワード
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} 文字以上)
      %br/
      = f.password_field :password, autocomplete: "new-password", class: 'input__title'
    .field
      = f.label :パスワード（確認用）
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'input__title'
      %br/
      %hr{width:"90%"}/
    .actions
      = f.submit "アカウント作成", class: 'post'
  = render "devise/shared/links"

