.contents
  .timage
    = image_tag "Dipressd_man.png", size:'100x100'

  - if @user.id == current_user.id
    %hr{width: "50%"}/

    - if unchecked_notifications.any?
      = link_to notifications_path, class: 'notification-btn' do
        #{@notifications.count}件のお知らせ
    - else
      = link_to "お知らせ", notifications_path, class: 'post'
      
    = link_to "タイムライン", timeline_user_path, class: 'post'
    = link_to "新規投稿", new_post_path, class: 'post'
    = link_to "アカウント編集", edit_user_registration_path, class: 'post'
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'post'
    %hr{width: "50%"}/
    %h2 マイページ

  - else
    %hr{width: "20%"}/
    = link_to "マイページ", user_path(current_user), class: 'post'
    = link_to "新規投稿", new_post_path, class: 'post'
    %hr{width: "20%"}/

.details
  .details__userinfo
    = @user.nickname
    %br
    = image_tag(@user.image.url, class: 'icon_image')
    %p
    = render 'relationships/follow_button', user: @user
    %p
    - @user ||= current_user
    .user-stats
      ：
      = link_to following_user_path(@user), class: 'user-status' do
        = @user.followings.count
        フォロー
      ：
      = link_to followers_user_path(@user), class: 'user-status' do
        = @user.followers.count
        フォロワー

    %hr{width: "50%"}/
    投稿 #{@user.posts.count} 件
    %hr{width: "100%"}/

  - @posts.each do |post|
    = post.created_at.strftime("%Y/%m/%d")
    .details__title
      = post.title
      = link_to '読む', post, class: 'btn__details'
      %br
      %p
    .contents__likes
      【 いいね：#{post.liked_users.count} 】
      【 コメント：#{post.comments.count} 】
      %hr{width: "100%"}/
      
  .contents__pagenation
    = paginate(@posts)

.contents
  %hr{width: "20%"}/
  = link_to "トップページ", :root, class: 'post'
  %hr{width: "20%"}/

  .timage
    = image_tag "Dipressd_man.png", size:'100x100'
