.details
  .details__userinfo
    - if @user.id == current_user.id
      = link_to "アカウント編集", edit_user_registration_path, class: 'post'
      %hr{width: "50%"}/

    = @user.nickname
    %br
    = image_tag(@user.image.url, class: 'icon_image')
    %p
    = render 'relationships/follow_button', user: @user
    %p
    - @user ||= current_user
    .user-stats
      ：
      = link_to following_user_path(@user), class: 'user-status' do
        = @user.followings.count
        フォロー
      ：
      = link_to followers_user_path(@user), class: 'user-status' do
        = @user.followers.count
        フォロワー
    %hr{width: "50%"}/

    投稿
    = @user.posts.count
    件
    %hr{width: "100%"}/

  - @posts.each do |post|
    = post.created_at.strftime("%Y/%m/%d")
    .details__title
      = post.title
      = link_to '読む', post, class: 'btn__details'
      %br
      %p
    .contents__likes
      【いいね:
      = post.liked_users.count
      件】
      【コメント:
      = post.comments.count
      件】
      %hr{width: "100%"}/
      
  .contents__pagenation
    = paginate(@posts)
  = link_to "トップページ", :root, class: 'post'
