.contents
  %h2 ログイン
  %hr{width:"90%"}/
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input__title'
    .field
      = f.label :パスワード
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'input__title'
      %hr{width:"90%"}/
    .actions
      = f.submit "ログイン", class: 'post'
  = render "devise/shared/links"
