.contents
  .timage
    = image_tag "Dipressd_man.png", size:'100x100'

  %h2 ログイン
  %hr{width:"50%"}/

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :メールアドレス
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'input-title'
    .field
      = f.label :パスワード
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'input-title'
      %hr{width:"50%"}/
    .actions
      = f.submit "ログイン", class: 'post'

  %hr{width:"20%"}/
  = render "devise/shared/links"

  %hr{width:"20%"}/
  = link_to '戻る', root_path, class: 'post'
  %hr{width:"20%"}/

  .timage
    = image_tag "Dipressd_man.png", size:'100x100'