= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2
        = @post.errors.count
        件のエラーが発生したため保存ができませんでした。
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg
  %p
    = f.label :title, "タイトル"
    %br/
    = f.text_field :title, class: 'input__title'
  %p
    = f.label :content, "内容"
    %br/
    = f.text_area :content, cols: 60, rows: 20, class: 'input__text'
  %p
    = f.submit class: 'post', value: '更新する'  

  %hr{width: "90%"}/
  
  .contents__logo
    = image_tag "Dipressd_man.png", size:'200x200'
  %br
  
  .contents__buttom
    = link_to '一覧に戻る', posts_path, class: 'post'
  %br

  %hr{width: "90%"}/
