!!!
%header.header
  .header__bar.row
    %h1.grid-6
    - if user_signed_in?
      .user_nav.grid-6
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'post'
        %a.post{href: "/posts/new", class: 'post'} 投稿する
    - else
      .grid-6
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post'

.contents
  %p.main-title
    どいてもらっていいですか？
  .description
    = image_tag "nayamuhito.png"
    .description__text
      .description__text__main
        %p ただひたすら悩みや疑問を吐露する場です。

  %h1 タイトル一覧
  %h1
    %tr
    - @posts.each do |post|
      .title
        = post.title
        - if user_signed_in?
          = link_to '読む', post, class: 'btn__details'
  .timage
    = image_tag "nayamuhito.png"
