.header
  .header__bar.row
    - if user_signed_in?
      .user_info
        = link_to "マイページ", user_path(@user), class: 'post'

        - if unchecked_notifications.any?
          = link_to notifications_path, class: 'notification-btn' do
            #{@notifications.count}件のお知らせ
        - else
          = link_to "お知らせ", notifications_path, class: 'post'
          
        = link_to "新規投稿", new_post_path, class: 'post'
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'post'
        %hr{width:"40%"}/
        %p
        ユーザー
        %br
        = image_tag(current_user.image.url, class: 'icon_image')
        %br
        = @user.nickname

    - else
      .user_info
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post'

%hr{width:"40%"}/

.contents
  %p.main-title
    Le Penseur
  .description
    = image_tag "Dipressd_man.png", size:'500x500'
    .description__text
      .description__text__main
        %p 「やってらんねえよなぁ...」
        %br
        %p という気分の人たちが集う場所。
        %br
        %p ※閲覧や投稿にはユーザー登録が必要です。

  %hr{width: "40%"}/

  = render 'search_form'

  %hr{width: "40%"}/

  %tr
    - if @posts.any?
      - @posts.each do |post|

        - if user_signed_in?
          = link_to user_path(post.user), class:'details__userinfo' do
            = post.user.nickname
          %br
          = link_to user_path(post.user) do
            = image_tag(post.user.image.url, class: 'icon_image')
        - else
          = link_to new_user_session_path, class:'details__userinfo' do
            = post.user.nickname
          %br
          = link_to new_user_session_path do
            = image_tag(post.user.image.url, class: 'icon_image')

        .title
          = post.title
          - if user_signed_in?
            = link_to '読む', post, class: 'btn__details'
        .contents__likes
          【いいね: #{post.liked_users.count} 件】
          【コメント: #{post.comments.count} 件】
          %br
          投稿日時
          = post.created_at.strftime("%Y/%m/%d")
        %hr{width: "40%"}/
    - else
      .description__text__main
        投稿はありません m(_ _)m
      %hr{width: "40%"}/

  .contents__pagenation
    = paginate(@posts)

  .timage
    = image_tag "Dipressd_man.png", size:'200x200'

  .description__text__main
    %p いつもお疲れ様です。
