!!!
.header
  .header__bar.row
    %h1.grid-6
    - if user_signed_in?
      .user_info
        = link_to "アカウント編集", edit_user_registration_path, class: 'post'
        %hr{width:"45%"}/
        %br
        ユーザー
        %br
        = image_tag(current_user.image.url, class: 'icon_image')
        %br
        = @user.nickname
      .user_nav.grid-6
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'post'
        %a.post{href: "/posts/new", class: 'post'} 投稿する
      %hr{width:"45%"}/
    - else
      .grid-6
        = link_to "ログイン", new_user_session_path, class: 'post'
        = link_to "新規登録", new_user_registration_path, class: 'post'

%hr{width:"90%"}/

.contents
  %p.main-title
    どいてもらっていいですか？
  .description
    = image_tag "Dipressd_man.png", size:'500x500'
    .description__text
      .description__text__main
        %p 「やってらんねえよなぁ、、、」
        %br
        %p
        %br
        %p ※閲覧や投稿にはユーザー登録が必要です。
        %hr{width: "90%"}/

  %h1
    = search_form_for @search do |f|
      = f.search_field :title_or_content_cont, class: 'input__search'
      = f.submit '検索', class: 'post'
      %hr{width: "50%"}/

    %tr
    - if @results.any?
      - @results.each do |result|
        %span 投稿者：
        = result.user.nickname
        %br
        = image_tag(result.user.image.url, class: 'icon_image')
        .title
          「
          = result.title
          」
          - if user_signed_in?
            = link_to '読む', result, class: 'btn__details'
        .contents__likes
          【いいね:
          = result.liked_users.count
          件】
          【コメント:
          = result.comments.count
          件】
          %br
          投稿日時
          = result.created_at.strftime("%Y/%m/%d")
        %hr{width: "50%"}/
    - else
      .description__text__main
        該当する記事はありません m(_ _)m
      %hr{width: "50%"}/

  .contents__pagenation
    = paginate(@results)
  .timage
    = image_tag "Dipressd_man.png", size:'200x200'
  .description__text__main
    %p いつもお疲れ様です。
