.contents
  .timage
    = image_tag "Dipressd_man.png", size:'100x100'

  = render 'search_form'

  %hr{width: "40%"}/
  検索結果
  %hr{width: "40%"}/

  - if @results.any?
    - @results.each do |result|

      - if user_signed_in?
        = link_to user_path(result.user), class:'details__userinfo' do
          = result.user.nickname
        %br
        = link_to user_path(result.user) do
          = image_tag(result.user.image.url, class: 'icon_image')
      - else
        = link_to new_user_session_path, class:'details__userinfo' do
          = result.user.nickname
        %br
        = link_to new_user_session_path do
          = image_tag(result.user.image.url, class: 'icon_image')

      .title
        = result.title
        - if user_signed_in?
          = link_to '読む', result, class: 'btn__details'

      .contents__likes
        【いいね:
        = result.liked_users.count
        件】
        【コメント:
        = result.comments.count
        件】
        %br
        投稿日時
        = result.created_at.strftime("%Y/%m/%d")
      %hr{width: "40%"}/

  - else
    .description__text__main
      該当する記事はありません m(_ _)m
    %hr{width: "40%"}/

  .contents__pagenation
    = paginate(@results)
    
  %hr{width: "20%"}/
  = link_to "トップページ", :root, class: 'post'
  %hr{width: "20%"}/
  
  .timage
    = image_tag "Dipressd_man.png", size:'100x100'