.details
  %p
    .details__username
      = @user.nickname
      さんの投稿
    .details__title
      = @post.title
  %p
    .details__text
      = simple_format(@post.content)

.details
  = link_to '一覧に戻る', posts_path, class: 'post'
  - if user_signed_in?
    - if current_user.id == @post.user_id
      = link_to '編集', edit_post_path(@post), class: 'post'
      = link_to '削除', post_path(@post), method: :delete, class: 'post', data: { confirm: '削除しますか？' }
  = image_tag "Dipressd_man.png", size:'200x200'

%hr{:width => "50%"}/

.details
  - if current_user
    コメントする
    = form_tag("/posts/#{@post.id}/comments", method: :post) do
      %textarea{cols: "80", name: "text", rows: "10"}
      .btn
        %input{type: "submit", value:  "送信する", class: 'post'}/

.details
  %h4 ＜コメント一覧＞
  - if @comments
    - @comments.each do |comment|
      %p
        %strong
          = link_to comment.user.nickname, "/users/#{comment.user_id}"
          %br
        = comment.text
        %hr{:width => "90%"}/

.details
  = link_to '一覧に戻る', posts_path, class: 'post'
  