.details
  %p
    .details__username
      = image_tag(@post.user.image.url, class: 'icon_image')
      = @user.nickname
      さんの投稿
    .details__title
      = @post.title
  %p
    .details__text
      = simple_format(@post.content)

.details
  = link_to '一覧に戻る', posts_path, class: 'post'
  - if user_signed_in?
    - if current_user.id == @post.user_id
      = link_to '編集', edit_post_path(@post), class: 'post'
      = link_to '削除', post_path(@post), method: :delete, class: 'post', data: { confirm: '削除しますか？' }
  = image_tag "Dipressd_man.png", size:'200x200'
  .details__posttimezone
    投稿日時
    = @post.created_at.strftime("%Y/%m/%d %H:%M")
    %hr{width: "90%"}/

  .details__box_button_like
    いいねボタン
    #favorite_btn
      = render partial: 'likes/like', locals: { post: @post, like: @like }
%hr{width: "50%"}/

.details
  - if current_user
    コメントする
    = form_tag("/posts/#{@post.id}/comments", method: :post) do
      %textarea{cols: "80", name: "text", rows: "10"}
      .btn
        %input{type: "submit", value:  "送信する", class: 'post'}/

.details
  コメント
  = @comments_count
  件
  %hr{width: "90%"}/
  - if @comments
    - @comments.each do |comment|
      %p
        .details__username
          = image_tag(comment.user.image.url, class: 'icon_image')
          = comment.user.nickname
        .details__timezone
          = comment.created_at.strftime("%Y/%m/%d %H:%M")
          %br
        .details__comment
          = comment.text
        %hr{width: "90%"}/

.details
  = link_to '一覧に戻る', posts_path, class: 'post'
