.details
  %p
    .details__username
      = @user.nickname
      さんの投稿
      %br
      = link_to user_path(@post.user) do
        = image_tag(@post.user.image.url, class: 'icon_image')
    .details__title
      = @post.title
  %p
    .details__text
      = simple_format(@post.content)

.details
  = link_to 'トップページ', root_path, class: 'post'
  - if user_signed_in?
    - if current_user.id == @post.user_id
      = link_to '編集', edit_post_path(@post), class: 'post'
      = link_to '削除', post_path(@post), method: :delete, class: 'post', data: { confirm: '削除しますか？' }
  = image_tag "Dipressd_man.png", size:'200x200'
  .details__posttimezone
    投稿日時
    = @post.created_at.strftime("%Y/%m/%d %H:%M")
    %hr{width: "100%"}/

  .details__box_button_like
    いいねボタン
    #favorite_btn
      = render partial: 'likes/like', locals: { post: @post, like: @like }
    %hr{width: "100%"}/
  .liked-user
    いいねしたユーザー
    %br
    - if @likes
      - @likes.each do |like|
        = link_to user_path(like.user) do
          = image_tag(like.user.image.url, class: 'liked-users')
%hr{width: "50%"}/

.details
  コメントする
  = form_with(model:[ @post, @post.comments.build ], local: true) do |f|
    = f.text_area :text, class:'comment-area'
    .details__comment-btn
      = f.submit 'コメントする', class: 'post'
      %p
  .details__comments-list
    コメント
    = @comments_count
    件
    %hr{width: "100%"}/
    - if @comments
      - @comments.each do |comment|
        .details__username
          = image_tag(comment.user.image.url, class: 'liked-users')
          = comment.user.nickname
        .details__timezone
          = comment.created_at.strftime("%Y/%m/%d %H:%M")
          %br
        .details__comment
          = simple_format(comment.text)
        %hr{width: "100%"}/

.details
  = link_to 'トップページ', root_path, class: 'post'
