.contents
  .timage
    = image_tag "Dipressd_man.png", size:'100x100'
  %h2 詳細ページ
  - if current_user.id == @post.user_id
    %hr{width: "20%"}/
    = link_to '編集する', edit_post_path(@post), class: 'post'
    = link_to '削除する', post_path(@post), method: :delete, class: 'post', data: { confirm: '削除しますか？' }
  %hr{width: "20%"}/

.details
  .details__username
    = @user.nickname
    さんの投稿
    %br
    = link_to user_path(@post.user) do
      = image_tag(@post.user.image.url, class: 'icon_image')
    %hr{width: "100%"}/

  .details__title
    = @post.title
  %p
  .details__text
    = simple_format(@post.content)

.details
  .details__posttimezone
    投稿日時
    = @post.created_at.strftime("%Y/%m/%d %H:%M")
    %br
    閲覧数
    //【#{@post.impressionist_count}】
    【 #{number_with_delimiter(@page_views)} 】
    %hr{width: "100%"}/

  .details__box_button_like
    いいねボタン
    #favorite_btn
      = render partial: 'likes/like', locals: { post: @post, like: @like }
    %hr{width: "100%"}/
  .liked-user
    いいねしたユーザー
    %br
    - if @likes
      - @likes.each do |like|
        = link_to user_path(like.user) do
          = image_tag(like.user.image.url, class: 'liked-users')
  %hr{width: "100%"}/

.details
  コメントする
  = form_with(model:[ @post, @post.comments.build ], id: 'new_comment', local: true) do |f|
    = f.text_area :text, class:'comment-area'
    .details__comment-btn
      = f.submit 'コメントする', class: 'post'
  %p

  .details__comments
    コメント
    = @comments_count
    件
    %hr{width: "100%"}/
    .details__comments-list
    - if @comments
      - @comments.each do |comment|
        .details__username
          = link_to user_path(comment.user) do
            = image_tag(comment.user.image.url, class: 'liked-users')
          = comment.user.nickname
        .details__comment
          = simple_format(comment.text)
        .details__timezone
          = comment.created_at.strftime("%Y/%m/%d %H:%M")
        %hr{width: "100%"}/

.details
  = link_to 'トップページ', root_path, class: 'post'

.contents
  %hr{width: "40%"}/
  .timage
    = image_tag "Dipressd_man.png", size:'100x100'
