.details
  %p
    .details__username
      = @user.nickname
      さんの投稿
    .details__title
      = @post.title
  %p
    .details__text
      = simple_format(@post.content)

.details
  = link_to '戻る', posts_path, class: 'post'
  - if user_signed_in?
    - if current_user.id == @post.user_id
      = link_to '編集', edit_post_path(@post), class: 'post'
      = link_to '削除', post_path(@post), method: :delete, class: 'post', data: { confirm: '削除しますか？' }
  = image_tag "nayamuhito.png"

  = form_for( [@post, @post.comments.build] ) do |f|
    %p
      = f.label :text, "コメント"
      %br/
      = f.text_area :text, cols: 60, rows: 8
    %p
      = f.submit "コメント投稿", class: 'post'
